body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 100px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 500px;
}
a {
    text-decoration: none;
    color: #999;
}

div {
    display:block;
    background-color:#d5f4e6;
    text-align: center;
}
h2 {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #999;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

