body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 100px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 500px;
}
a {
    text-decoration: underline;
    color: #999;
}

.w3-bar w3-black{
   background-color: #999;
   text-align: center;
}

